{% extends 'template_to_inherit.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<!--
<script type="text/javascript" src="/jscripts/test.js">
document.getElementById("id_back").style.display = "none";
</script>
-->
<!--
<script type="text/javascript">
document.getElementById("id_back").style.display = "none";
</script>
not working yet -->

{% if tasks|length < 1 %} <!-- if there are no entries show the header below -->
            <p style="font-size: 150%; color: red; text-align: center">There are no entries... Please fill in an entry name in the form.</p>
{% else %}
<div class="container">
    <h1 style="text-align: center;">My Table</h1>
    <div style="overflow-y:scroll; height:600px;">
        <hr color="teal">





            <table class="table table-striped table-dark table-hover .table-sm ">
                <thead>
                    <tr>  <!-- Header Row -->
                        <th scope="col" class="align-middle text-center">Entry Number</th>
                        <th scope="col" class="align-middle text-center">Entry ID in DB</th>
                        <th scope="col" class="align-middle text-center">Name</th>
                        <th scope="col" class="align-middle text-center">Added</th>
                        <th scope="col" class="align-middle text-center">E-Mail Address</th>
                        <th scope="col" class="align-middle text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                {% for task in tasks %}
                    <tr> <!-- Elements Row(s) -->
                        <th scope="row" class="align-middle text-center">{{ loop.index0 + 1 }}</th>
                        <td class="align-middle text-center">{{ task.id }}</td>
                        <td class="align-middle text-center">{{ task.name }}</td>
                        <td class="align-middle text-center">{{ task.date_created.date() }}</td> <!-- We show only date, but our database contains date and time -->
                        <td class="align-middle text-center"> {% if task.email_address is not none %}  {{  task.email_address }}  {% endif %}  </td> <!-- We want to show an empty cell, if no value is given for address -->
                        <td class="align-middle text-center">
                            <a class="btn btn-danger" href="/delete/{{task.id}}" onclick="return confirm('Are you sure you want to delete this entry?');">Delete Name</a>
                            <br>
                            <a href="/update/name/{{task.id}}">Update Name</a>
                            <br>
                            <a href="/update/address/{{task.id}}">Update Address</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <br>


    <div class="d-flex justify-content-center" style="text-align: center;">
        <form action="/" method="POST">
            {{ form.hidden_tag() }}

            <strong>
            {{ form.name.label(
                class='form-label') }}
            </strong>
            <br>

            {{ form.name(
            class='form-control col-sm-20') }}
            </br>

            {{ form.submit(
            class='btn btn-primary') }}
            <!--Name: <input type="text" name="name" required>
            <input type="submit" style="background-color: hsl(340, 20%, 65%);" value="Add Name">-->
        </form>
    </div>
</div>


{% endblock %}