{% extends 'template_to_inherit.html' %}

{% block head %}
{% if current_user.is_authenticated %}
<title>Profile {{ current_user.username }}! </title>
{% endif %}
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
{% if id == current_user.id %}

<!-- Without this div, the page is a bit longer than default width. This happens, because Bootstrap row has left and right margin -15px -->
<div class="container-fluid"> <!-- Container fluid -->

    <div class="row" > <!-- Row -->
        <div class="col m-2" class="split left" id = "profile0" >

            <h2>Greetings!<br> Your Basic information is here: </h2>
               <ul>
                   <li> <strong>Username:</strong> {{ current_user.username }}</li>
                   <li> <strong>User ID:</strong> {{ current_user.id }}</li>
                   <li> <strong>Date Registered:</strong> {{ current_user.date_created }}</li>
               </ul>

            {% if description0 == 'null' %}
            <h4>Add a short profile descriptions below:</h4>
            <!--
            <form action="/profile/" method="POST">
                <label for="description"></label>
                <textarea id="description" cols="40" rows="10" placeholder="Please write a short description"></textarea>
                <br>
                <input type="submit" value="Update Description">
            </form> -->
            <form action="/profile/" method="POST">
                {{ form_description.hidden_tag() }}
<!--
                {{ form_description.description.label(
                class='form-label') }}
                </br>
-->
                {{ form_description.description(
                class='form-control') }}
                </br>

                {{ form_description.submit(
                class='btn btn-primary') }}
            </form>
            {% else %}
            <h3 style="text-decoration: underline;">Profile Description: </h3>
            <pre style="font-size: 125%; color: navy;"><strong>{{ description0 }}</strong></pre>
            <h3>
                <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#update_desc" aria-expanded="false" aria-controls="togge_description">
                    Click to edit your Description
                </button>
            </h3>
            <!--
            <form action="/profile/" method="POST">
                <label for="description_update"></label>
                <textarea id="description_update" cols="40" rows="10">{{ description0 }}</textarea>
                <br>
                <input type="submit" value="Update Description">
            </form>-->
            <div class="collapse" id="update_desc">
                <form action="/profile/" method="POST" >
                    {{ form_description.csrf_token() }}
        <!-- -->
                    {{ form_description.description.label(
                    class='form-label') }}
                    </br>
        <!-- -->
                    {{ form_description.description(
                    class='form-control') }}
                    </br>

                    {{ form_description.submit(
                    class='btn btn-primary') }}
                </form>
            </div>
            {% endif %}

            <br>
            <br>
            <h4>Add a note</h4>
            <form action="/profile/" method="POST">
                {{ form_note.hidden_tag() }}
    <!-- We hide the label
                {{ form_note.mynote.label(
                class='form-label') }}
                </br>
    -->
                {{ form_note.mynote(
                class='form-control') }}
                </br>

                {{ form_note.submit(
                class='btn btn-secondary') }}
            </form>

            {% if notes != 'null' %} <!-- When there are no notes, don't display buggy div placeholder graphics -->
            <br>
            <h5>My Notes:</h5>
                {% for note in notes %}
                <div class="p-3 mb-2 bg-dark text-white">
                    <pre>{{ note.content }}</pre><br>
                    <div class="float-end" style="text-align: right;"><em>Date Posted: {{ note.date_created }}</em></div>
                    <!-- With <p> there was a line break below, so we used div. Wouldn't work with span or row -->
                    <a class="btn btn-danger" href="/notes/delete/{{note.id}}" onclick="return confirm('Are you sure you want to delete this note?');">Delete Note</a>

                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col m-2" class="split right" id ="myposts0">
        <!--div class="centered"-->
            <h2> Something on your mind you need to share? </h2>
                <!--
                <form action="/profile/" method="POST">
                    <label for="share_post">Share your thoughts!</label><br>
                    <input type="text" id="share_post"><br>
                    <input type="submit" value="Share."/>
                </form>  -->

            <form action="/profile/" method="POST">
                {{ form_post.hidden_tag() }}

    <!--
                {{ form_post.myshare.label(
                class='form-label') }}
                </br>
    -->
                {{ form_post.myshare(
                class='form-control') }}
                </br>

                {{ form_post.submit(
                class='btn btn-success') }}
            </form>



            {% if posts != 'null' %} <!-- When there are no posts, don't display buggy div placeholder graphics -->
                <br>
                <h5>My Posts:</h5>
                {% for post in posts %}

                <div class="p-3 mb-2 bg-info text-white">
                    <pre>{{ post.content }}</pre><br>
                    <div class="float-end" style="text-align: right;"><em>Date Posted: {{ post.date_created }}</em></div>
                    <!-- With <p> there was a line break below, so we used div. Wouldn't work with span or row -->
                    <a class="btn btn-danger" href="/posts/delete/{{post.id}}" onclick="return confirm('Are you sure you want to delete this post?');">Delete Post</a>
                </div>
                <br>
                {% endfor %}
            {% endif %}

        </div>

    </div> <!-- row -->

</div> <!-- container fluid -->



{% endif %}
{% endif %}
{% endblock %}