<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- Various compatibilities -->

    <!-- We include bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- our css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_after_bootstrap.css') }}">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
     -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favic.png') }}"> <!-- a favicon -->

    <!-- our javascript files -->
    <script type="text/javascript" src="{{ url_for('static', filename='jscripts/main.js') }}"></script>

    <!-- by using the {{ x }} symbolism, we can show the python variable x on our html page
    <!-- TOP NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2E8B57;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="font-weight: bold; font-size: 150%;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/toolbox/" id="button_toolbox">Toolbox</a>
                    </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('profile')}}" id="button_profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}" id="button_logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register/" id="button_register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/" id="button_login">Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {% block head %}


    {% endblock %}  <!--Where we insert our code for other templates-->
</head>

<body>
    <!-- Without this div, the page is a bit longer than default width. This happens, because Bootstrap row has left and right margin -15px -->
    <div class="container">

    {% for message in get_flashed_messages() %}
        <div class="row d-flex justify-content-center" style="text-align: center;">
            <div class="alert alert-warning alert-dismissible fade show col-md-4 col-md-offset-4 position-absolute top--0 start-0" style="margin-top: -4%;" role="alert" id="myflasher">
              {{ message }}

                <!-- We also make the message disappear after a short while -->
                <script type="text/javascript">
                {
                    disappear("myflasher");
                }
                </script>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    {% endfor %}


    </div>



    {% block body %}

    {% endblock %}  <!--Where we insert our code for other templates-->
</body>

</html>