{% extends 'template_to_inherit.html' %}

{% block head %}
<title>Update Address ID {{task.id}}</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Update Email Address {{task.id}}</h1>
    <div class="d-flex justify-content-center" style="text-align: center;">
        <form action="/update/address/{{task.id}}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.address.label(
        class='form-label') }}
        <br>

        {{ form.address(value=task.email_address,
        class='form-control') }}
        </br>

        {{ form.submit(
        class='btn btn-primary') }}
        </form>
    </div>


{% endblock %}