{% extends 'template_to_inherit.html' %}

{% block head %}
<title>Update Name ID {{task.id}}</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Update Name {{task.id}}</h1>
    <div class="d-flex justify-content-center" style="text-align: center;">
        <form action="/update/name/{{task.id}}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(
        class='form-label') }}
        <br>

        {{ form.name(value=task.name,
        class='form-control col-sm-20') }}
        </br>

        {{ form.submit(
        class='btn btn-primary') }}
        </form>
    </div>


    <!--<div w3-include-html="button_back.html"></div> -->


{% endblock %}