{% extends 'template_to_inherit.html' %}

{% block head %}
<title>Update Page</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Update Name {{task.id}}</h1>

        <div class = "button_update_name">
            <form action="/update/name/{{task.id}}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(
            class='form-label') }}
            <br>

            {{ form.name(value=task.name,
            class='form-control') }}
            </br>
            {{ form.submit(
            class='btn-btn-primary') }}
            </form>
        </div>
    </div>

    <!--<div w3-include-html="button_back.html"></div> -->


{% endblock %}